<!DOCTYPE html>
<head>
    <title>Weather App</title>
    <link href="/css/styles.css" rel="stylesheet"/>
    <link href="/images/weather.png" rel="icon"/>
</head>
<body>
    <div class="main-content">
        {{>header}}    
        <p>Welcome to About Page</p>
        <img class="portrait" src="/images/robot.png"/>
        <p>{{name}}</p>
    </div>
    {{>footer}}
</body>